<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <script src="https://s.brightspace.com/lib/webcomponentsjs/0.7.21/webcomponents-lite.min.js"></script>
    <link rel="import" href="/lib/vui-typography/typography.html">
    <link rel="import" href="/lib/vui-link/link.html">
    <style is="custom-style" include="vui-typography"></style>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="vui-typography">
    {{{contents}}}
</body>
